.root {
    -fx-background-color: '#19191a';
    -fx-font-family: 'roboto';
}

.error {
    -fx-background-color: 'red';
    -fx-fill: 'yellow';
}

.labelText {
    -fx-text-fill: 'white';
    -fx-padding: 10px;
    -fx-background-color: '#212121'
}

.button {
    -fx-background-color: "#008bd2";
    -fx-text-fill: "#1d1d1b";
    -fx-font-weight: 700;
    -fx-border-radius: 45px;
}

.textContainer {
    -fx-background-color: '#212121';
    -fx-padding: 15px;
}

.scrollPane {
    -fx-background-color: transparent;
}